{
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "all",
    "semi": true,
    "endOfLine": "lf",
    "printWidth": 200,
    "htmlWhitespaceSensitivity": "ignore",
    "plugins": ["prettier-plugin-tailwindcss"]
}
