figure[data-rehype-pretty-code-figure] {
    pre {
        padding: 10px;
        overflow: auto;
    }

    code {
        counter-reset: lineNumber;
    }

    code > span[data-line]::before {
        text-align: right;
        content: counter(lineNumber);
        counter-increment: lineNumber;
        @apply mr-5 text-base-content/50;

        display: inline-block;
        width: 0.75rem;
        margin-right: 2rem;
        text-align: right;
    }

    code {
        background-color: inherit !important;
        color: inherit !important;
    }
}

span[data-rehype-pretty-code-figure] {
    code[data-language="plaintext"] {
        @apply border border-base-content bg-base-200 px-1 text-accent;
    }
}

/* Remove extra padding from paragraphs inside blockquote */
blockquote p {
    @apply py-0;
}
