figure[data-rehype-pretty-code-figure] {
    @apply my-4 border-4 border-base-content bg-base-100;

    pre {
        @apply overflow-auto p-4;
    }

    code {
        counter-reset: lineNumber;
        @apply text-sm;
    }

    code > span[data-line] {
        @apply block border-0 leading-snug;
    }

    code > span[data-line]::before {
        content: counter(lineNumber);
        counter-increment: lineNumber;
        @apply mr-6 inline-block w-4 text-right text-base-content/40;
    }

    code {
        background-color: inherit !important;
    }
}

/* Remove extra padding from paragraphs inside blockquote */
blockquote p {
    @apply py-0;
}
