figure[data-rehype-pretty-code-figure] {
    pre {
        padding: 10px;
        overflow: auto;
    }

    code {
        counter-reset: lineNumber;
    }

    code > span[data-line]::before {
        text-align: right;
        content: counter(lineNumber);
        counter-increment: lineNumber;
        @apply text-gray-600 mr-5;
    }

    *[data-theme] {
        background-color: inherit;
        color: inherit;
    }
}

span[data-rehype-pretty-code-figure] {
    code {
        /* background-color: inherit !important;
        @apply !text-sky-600; */

        @apply px-1 mx-1;
    }

    code[data-language="plaintext"]{
        @apply !text-sky-600;
        @apply !bg-inherit;
    }
}
