@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* https://neumorphism.io/#f8fafc */

    .neumo-float-light-shadow {
        border-radius: 50px;
        background: #f8fafc;
        box-shadow: 5px 5px 10px #dfe1e3, -5px -5px 10px #ffffff;
    }

    .neumo-sink-light-shadow {
        border-radius: 50px;
        background: #f8fafc;
        box-shadow: inset 5px 5px 10px #dfe1e3, inset -5px -5px 10px #ffffff;
    }

    .neumo-pulled-light-shadow {
        border-radius: 50px;
        background: linear-gradient(145deg, #dfe1e3, #ffffff);
        box-shadow: 5px 5px 10px #dfe1e3, -5px -5px 10px #ffffff;
    }

    .neumo-pushed-light-shadow {
        border-radius: 50px;
        background: #f8fafc;
        box-shadow: inset 5px 5px 10px #dfe1e3, inset -5px -5px 10px #ffffff;
    }

    .neumo-float-dark-shadow {
        border-radius: 50px;
        background: #0f1829;
        box-shadow: 20px 20px 60px #0d1423, -20px -20px 60px #111c2f;
    }

    .neumo-pushed-dark-shadow {
        border-radius: 50px;
        background: linear-gradient(145deg, #0e1625, #101a2c);
        box-shadow: 20px 20px 60px #0d1423, -20px -20px 60px #111c2f;
    }

    .neumo-pulled-dark-shadow {
        border-radius: 50px;
        background: linear-gradient(145deg, #101a2c, #0e1625);
        box-shadow: 20px 20px 60px #0d1423, -20px -20px 60px #111c2f;
    }

    .neumo-sink-dark-shadow {
        border-radius: 50px;
        background: #0f1829;
        box-shadow: inset 20px 20px 60px #0d1423, inset -20px -20px 60px #111c2f;
    }
}

.neumo-float {
    @apply neumo-float-light-shadow dark:neumo-float-dark-shadow;
}

.neumo-sink {
    @apply neumo-sink-light-shadow dark:neumo-sink-dark-shadow;
}
.neumo-pushed {
    @apply neumo-pushed-light-shadow dark:neumo-pushed-dark-shadow;
}

.neumo-pulled {
    @apply neumo-pulled-light-shadow dark:neumo-pulled-dark-shadow;
}
